
.SidebarOne{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50; 
    height: 100vh;
    background-color: rgba(14, 13, 17, 0.596);
}
.Sidebar {
    width: 25%;
    top: 0px;
    z-index: 99; 
    height: 95%;
    overflow-y: scroll ;
    overflow-x: hidden ;
    left: 0;
    background-color: #fff;
} 
.whitebar{
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    width: 25%;
    display: flex;
    flex-direction: column;
    z-index: 60;
   
}
.top{
    background-color: rgb(42, 42, 65);
    width: 100%;
    padding: 10px 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.top svg{
    font-size: 40px;
    margin-right: 10px;
    color: #fff;
}
.top h3{
    font-size: 20px;
    font-weight:800;
    color: #fff;
}
.SideText{
    padding-bottom: 10px;
    border-bottom: 1px solid  rgba(197, 216, 252, 0.842);
}
.SideText h4{
    font-size: 19px;
    font-weight: 550;
    padding: 20px 30px 10px;
}
.SideText p{
    padding: 10px 30px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    color: rgb(70, 67, 67);
}
.SideText p:hover{
    color: rgb(0, 0, 0);
    background-color: rgba(228, 234, 245, 0.842);
}
.SideText .RightLoco p{
    width: 100%;
    position: relative;
}
.SideText .RightLoco p svg{
   position: absolute;
   right: 20px;
}
.closeIcon svg{
    position:absolute;
    top: 0px;
    left: 380px;
    color: #fff;
    font-size: 40px;
    font-weight:700;
    cursor: pointer;
}
.DwonLogo{
    display: flex;
    align-items: center;
   
}